.tagButton{
    border: none;
    background-color: purple;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.3s;
}